@charset "gb2312";
/* CSS Document */
body{color:#333333;font-size:12px;}
li {list-style:none;}
input { vertical-align:middle; }
img { border:0;}
table {border-collapse: collapse;border-spacing: 0;empty-cells:show;}
a:link,a:visited{ color:#494949;text-decoration:none; }
a:hover,a:active{ color:#f60;text-decoration:underline;}
*{margin: 0 auto;padding: 0}
.org {
	font-size:14px;
	color:#f60;
	font-family: "Courier New", Courier, monospace;
}
.floatl { float:left}
.pl30 { padding-left:15px;}
.main{width:960px;height: auto;overflow: visible;}
.head{width:946px;float:left;padding:15px 6px 15px 3px;}
.head .logo{width:60px; float:left;}
.head .logowords{width:100px; float:left;font-size:32px;font-family:微软雅黑,黑体;line-height:50px;color:#666;}
.head .text{width:700px;float:right;text-align:right;line-height:36px;color:#3c86cb;height: 36px;padding-top: 8px;}
.big{height: auto;overflow: hidden;clear: both;}
.big .left{width:371px;}
.big .left .tbg{width:371px; float:left; background:url(images/login_07.gif) no-repeat; height:7px; line-height:7px;}
.big .left .mbg{width:363px; float:left; border-left:1px #a7b2b6 solid; border-right:1px #a7b2b6 solid; padding:0px 3px; display:inline;}
.retrievePassword{
	width:362px;
	float:none;
	background:url(images/loginmidBG.gif) repeat-y;
	padding:5px 0 10px 0;
	display:block;
	height: auto;
	overflow: hidden;
}
.retrievePassword .top{
	width:313px;
	height: 23px;
	overflow: hidden;
}
.retrievePassword .top .left{width:152px; float:left;}
.retrievePassword .top .right{width:160px;float:right;text-align:right;color:#7dbf0e;line-height:26px;} 

.retrievePassword .form{
	width:313px;
	height: auto;
	overflow: hidden;
}
.retrievePassword .form .user .text{width:70px;font-size:12px; line-height:27px; float:left;}
.retrievePassword .user{
	width:313px;
	padding-bottom:10px;
	height:27px;
}
.retrievePassword .user1{width:257px; float:left; padding-bottom:10px; height:27px; padding-left:56px;}
.retrievePassword .user2{width:257px; float:left; padding-bottom:5px; height:27px; padding-left:56px;}

.retrievePassword .input{width:185px; height:25px; float:left; border:1px #999999 solid; padding:0 5px; line-height:25px; font-size:14px; font-weight:bold; color:#666666;}
.retrievePassword .input1{width:72px; height:25px; float:left; border:1px #999999 solid; padding:0 5px; line-height:25px; font-size:14px; font-weight:bold; color:#666666;}
.retrievePassword .img{width:48px; float:left; padding-left:3px;}
.retrievePassword .fonth{color:#999999;padding-left:10px;font-size:14px;line-height:26px;}
.retrievePassword .font12{color:#999999; padding-left:5px; }

.retrievePassword .submit{width:93px; float:left; height:32px; margin:0 20px 0 0px; background:url(images/login_04.gif) no-repeat; border:none;}
.bg1{
	width:321px;
	background:url(images/bg1.gif) repeat-x;
	height:29px;
	margin:0 10px 0 15px!important;
	margin:0 4px 0 6px;
	line-height:29px;
	padding-left:15px;
	color:#3c86cb;
	clear: both;
}
.big .left .fbg{width:371px; float:left; background:url(images/login_46.gif) no-repeat; height:7px;}

.big .right{width:575px; float:right; color:#666666;}
.big .right .top{width:575px; float:left;}
.big .right .bottom{width:575px; float:left;}
.big .right .bottom .fenlei{width:121px; float:left; padding:10px 30px 0 40px; line-height:20px; background:url(images/login_51.gif) no-repeat top right; height:66px;}
.big .right .bottom .fenlei1{width:121px; float:left; padding:10px 30px 0 40px; line-height:20px; height:66px;}
.font1{font-size:16px; font-family:"微软雅黑"; line-height:30px;}
.main .tooles {clear: both;background-image: url(images/tools-bg_19.gif);background-repeat: repeat-y;height: auto;overflow: hidden;margin-top: 15px;}
.main .tooles .tpbg {height: 8px;overflow: hidden;}
.main .tooles .tools01 {background-image: url(images/tools-lbg_09.gif);height: 80px;background-repeat: no-repeat;width: 315px;background-position: right 10px;float: left;padding-bottom: 8px;}
.main .tooles .tools01 ul {display: block;width: 240px;padding-left: 60px;background-image: url(images/tools-icon1_07.gif);background-repeat: no-repeat;margin-top: 10px;}

.main .tooles .tools01 ul li {display: block;height: 22px;line-height: 22px;clear: both;}
.main .tooles .tools01 ul li a {display: block;float: left;width: 80px;}
.main .tooles .tools01 ul li .la01 {width: 130px;}
.main .tooles .tools01 .tools02 {background-image: url(images/tools-iconbg2_11.gif);width: 240px;}
.main .tooles .tools01 .tools03 {background-image: url(images/tools-icon03_13.gif);}
.main .tooles .tbbg {clear: both;height: 8px;overflow: hidden;}
.main .head .text a {color: #3c86cb;}
.main .head .text a:hover {color: #f60;}
.main .big .left .mbg .login .top .right a {color: #7dbf0e;}
.main .big .left .mbg .login .top .right a:hover {color: #f60;}

.main .citys {width: 960px;border-top: 1px solid #ccc;padding-top: 6px;height: auto;line-height: 20px;overflow: hidden;margin-top: 15px;clear: both;}
.main .citys h5 {display: block;font-size: 12px;color: #333;width: 110px;float: left;height: 40px;}
.main .citys p span {padding-right: 7px;color: #333;}
.main .citys p {float: left;color: #999;width:850px;}
.main .big .left .mbg .retrievePassword .form .hiddendiv {height: 29px;color: #F60;line-height: 29px;}
.main .big .left .mbg .retrievePassword .form .valid_box {font-size: 18px}
.main .big .left .mbg .retrievePassword .form  .hiddendiv .displsynone {display: none;}
.main .big .left .mbg .bg2 .login-w {float: left;line-height: 30px;}
.main .big .left .mbg .bg1 div {float: left;padding-left: 22px;padding-right: 18px;}
.main .big .left .mbg .bg1 .icon01 {background-image: url(images/login_02.gif);background-repeat: no-repeat;background-position: 0 6px;}
.main .big .left .mbg .bg1 .icon02 {background-image: url(images/login_01.gif);background-repeat: no-repeat;background-position: 0 4px;}
.main .big .left .mbg .bg1 .icon03 {background-image: url(images/login_05.gif);background-repeat: no-repeat;background-position: 0 5px;padding-right: 0px;}
.retrievePasswordSysName{ position: absolute; top:28px; left:410px; font-size:26px; font-weight:bold; color:#333333; }
.retrievePasswordBgWrap{ width:362px; }
.retrievePasswordtopBG{ background-image: url(images/logintopBG.gif); background-repeat: no-repeat; height:49px; width:362px;  }
.retrievePasswordtopBG span{ font-size:14px; font-weight:bold; margin:23px 0 0 49px; color:#333333; float:left;  }
.retrievePasswordbotBG { background-image: url(images/loginbotBG.gif); background-repeat: no-repeat; height:13px; width:362px; }
.retrievePasswordBUTTON { margin-left:56px; }
.retrievePasswordBUTTON a.retrievePasswordBOTN{ color:#fff; font-size:12px; font-weight:bold; line-height:26px; text-align:center;  float:left;cursor: pointer;display: block;width:63px;height:26px;background-image: url(images/buttonBG.gif);background-repeat: no-repeat; margin-right:10px;}.retrievePasswordBUTTON a.retrievePasswordRESET{ color:#fff; font-size:12px; font-weight:bold; line-height:26px; text-align:center;  float:left;cursor: pointer;display: block;width:63px;height:26px;background-image: url(images/buttonBG.gif);background-repeat: no-repeat;}
a.forgetPW  { color:#1a75cf; text-decoration:underline; float:left; }

#errortips { background-color:#939393; margin-bottom:5px; padding-left:10px; line-height:30px; color:#fff; font-weight:bold; }
